.WeatherForecast .row.days-row {
  padding: 20px 30px;
}

.WeatherForecast .card-title {
  color: #2f1b41;
  font-size: 18px;
  font-weight: 1000;
  text-align: center;
  min-height: 45px;
}

.WeatherForecast .card-subtitle {
  color: #2f1b41 !important;
  text-align: center;
  opacity: 0.7;
}

.WeatherForecast .card-text {
  text-align: center;
  font-size: 24px;
}

.WeatherForecast .card {
  border: 2px solid #ffb0b0;
  border-radius: 24px;
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}

.WeatherForecast img {
  width: 72px;
}
